mixin navbar(JWT)
  nav.main-nav
    .brand 
      b L
      span M
    .links
      a.link(href='/books')
        img.icon(src="/icons/book.svg" alt="" title='Библиотеки')
      a.link(href='/clients')
        img.icon(src="/icons/teamwork.svg" alt="" title='Клиенты')
      a.link(href='/publishers')
        img.icon(src="/icons/professions-and-jobs.svg" alt="" title='Издатели')
      a.link(href='/authors')
        img.icon(src="/icons/writer.svg" alt="" title='Писатели')
      a.link(href='/libraries')
        img.icon(src="/icons/school.svg" alt="" title='Библиотеки')