include includes/head.pug
include includes/navbar.pug

+head('/styles/style_auth.css')
+navbar(JWT)

main
  .wrapper
    .row
      .col-12
        .card
          .head Добро пожаловать
          .body Для начала работы используйте навигацию в левой части экрана